<?xml version='1.0' encoding='utf-8'?>
<widget id="com.airanza.apass2" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>APass2</name>
    <icon src="www/img/a_icon_white_key_trans_border_96x96.png" />
    <description>
        APass Secure Password Manager.
    </description>
    <author email="info@airanza.com" href="http://www.airanza.com">
        Airanza Team
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
              <!-- iPhone / iPod Touch -->
              <icon src="www/res/ios/Icon.png" width="57" height="57" />
              <icon src="www/res/ios/Icon@2x.png" width="114" height="114" />

              <!-- iOS 7.0+ -->
              <!-- iPhone / iPod Touch  -->
              <icon src="www/res/ios/icon-60.png" width="60" height="60" />

              <!-- iPad -->
              <icon src="www/res/ios/Icon-72.png" width="72" height="72" />
              <icon src="www/res/ios/Icon-72@2x.png" width="144" height="144" />

              <!-- iPad Spotlight and Settings Icon -->
              <icon src="www/res/ios/Icon-Small-50.png" width="50" height="50" />
              <icon src="www/res/ios/Icon-Small-50@2x.png" width="100" height="100" />
    </platform>
</widget>
