@import "compass/css3";


html {
	height: 100%;
	width: 100%;
	background: #5cdbff; /* For browsers that do not support gradients */
	background: -webkit-radial-gradient(ellipse, #5cdbff, #5cdbff, #24B2eb); /* Safari 5.1 to 6.0 */
	background: -o-radial-gradient(ellipse, #5cdbff, #5cdbff, #24B2eb); /* For Opera 11.6 to 12.0 */
	background: -moz-radial-gradient(ellipse, #5cdbff, #5cdbff, #24B2eb); /* For Firefox 3.6 to 15 */
	background: radial-gradient(ellipse, #5cdbff, #5cdbff, #24B2eb); /* Standard syntax */
}

img.splash-logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	vertical-align: middle;
}

a.corporate-link {
	margin-left: auto;
	margin-right: auto;
	vertical-align: bottom;
}

a.terms-of-use {
	float: left;
}

a.privacy-policy {
	float: right;
}

input {
	text-transform: none;
}

.loginusername {
	float: left;
}

.loginrememberusername {
	font-size: 10px;
	float: left;
}

.loginpassword {
	float: left;
}

.loginshowpasswordhint {
	font-size: 10px;
}

.showhiddenpasswordicon {
	float: right;
	max-width: 25px;
	max-height: 25px;
}

